.workspace {
    display: flex;
    padding: 0 40px;
}

.workspace__section {
    padding-top: 20px;
    height: 500px;
    overflow: hidden;
}

.workspace__folder-section {
    border-right: 1px solid var(--main-color);
    flex: 1 1 30%;

}

.workspace__file-section {
    flex: 1 1 70%;
}
