.popup {
    position: relative;
    width: 400px;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-300%);
    background-color: var(--main-color);
    padding: 40px;
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease;
}

.popup--open-animation {
    transform: translateX(-50%);
}

.popup--close-animation {
    transform: translateX(300%);
}

.popup__input {
    margin-top: 6px;
    padding: 6px;
    background-color: var(--main-color);
    color: var(--white);
    outline: none;
    border: none;
    border-bottom: 1px solid var(--white);
}

.popup__label {
    color: var(--white);
}

.popup__close {
    position: absolute;
    right: 10px;
    top: 10px;
}

.popup__btn-group {
    margin-top: 26px;
    display: flex;
    justify-content: space-between;
    color: var(--white);
}
