.toolbar {
    border-bottom: 1px solid var(--main-color);
    height: 80px;
    padding: 0 40px;
    display: flex;
    align-items: center;
}

.toolbar__item {
    color: var(--main-color);
    cursor: pointer;
    margin-right: 40px;
    padding: 12px;
    border-radius: 0;
    display: flex;
    align-items: center;
    background-color: transparent;
    border-color: var(--main-color);
}

.toolbar__item:hover {
    background-color: var(--light-gray);
}

.toolbar__item i {
    font-size: 32px;
}