.logo {
    background-image: url('yota.svg');
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.logo:hover {
    animation: rotate;
    animation-duration: 2.3s;
    animation-play-state: running;
    animation-iteration-count: infinite;
    animation-play-state: running;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

/*.logo--short {
    animation-name: short;
    animation-duration: 2s;
    animation-timing-function: ease;
}

@keyframes short {
    from {
        transform: translateX(0px);
    }

    to {
        transform: translateX(-500px);
    }
}*/

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0);
    }
}
