.header {
    font-family: var(--font-standart);
    background-color: var(--main-color);
    display: flex;
    align-items: center;
    color: var(--white);
    justify-content: space-between;
    padding: 0 40px;
}