.folder {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    outline: none;
}

.folder__name {
    margin-left: 10px;
    font-size: 1.1em;
}

.folder__edit {
    transform: translateX(220px);
    color: var(--main-color);
    transition: transform 0.6s ease;
}

.folder:hover .folder__edit {
  transform: translate(10px);
}
